<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <main style="margin: 50px auto;">
            <section>
                <h2 style="text-align: center;">TacticalFBA</h2>
            </section>
            <hr />
            <section style="margin-top: 20px;">
                <h4 style="text-align: center;">ORDER CONFIRMATION</h4>
                <div style="text-align: center; margin: 20px 0; font-weight: 700;">
                    Your Order #6423213
                </div>
                <div style="text-align: center; margin: 20px 0; font-weight: 700;">
                    <button style="
              font-size: 12px;
              padding: 12px;
              background-color: black;
            ">
                        <a href="https://tacticalfba.netlify.com/account" target="_blank" style="color:white;">View
                            Order</a>
                    </button>
                </div>
                <div style="line-height: 25px;">
                    We know you're excited to get your product inserts so here's what to
                    expect:<br />
                    Our designers will finalize your customized product insert design and
                    email you for <strong>final confirmation.</strong><br />
                    Then we will send them off to our printers in Shanghai. Once it ships,
                    you and your factory contact will receive a confirmation email with
                    your tracking number.<br />
                    Thanks for placing your trust in TacticalFBA, we appreciate it. We're
                    small but we work hard and are confident we have the tools to help
                    your business grow.
                </div>
            </section>
            <hr />
            <section style="margin-top: 20px;">
                <h4 style="text-align: center;">ORDER SUMMARTY</h4>
                <div style="text-align: center; margin: 20px 0;">
                    Order submitted on: {{data.info.date}}
                </div>
                {{#each data.items}}
                    <div>
                        <!-- image -->
                        <div style="
              display: flex;
              flex-direction: row;
              margin:0 auto;
            ">
                            <img src={{insert.frontPre}} alt="front" style="width: 45%;" />
                            <img src={{insert.backPre}} alt="rear" style="width: 45%;" />
                        </div>
                        <!-- item detail -->
                        <div style="display: flex; flex-direction: row; margin:10px auto;">
                            <ul style="list-style: none; font-weight: 700; line-height: 25px;">
                                <li>Insert:</li>
                                <li>Factory:</li>
                                <li>Contact:</li>
                                <li>Price:</li>
                                <li>
                                    QTY<span style="font-weight: 400; font-size: 14px;">(in thousands)</span>:
                                </li>
                                <li>Total:</li>
                            </ul>
                            <ul style="list-style: none; padding-left: 20px; line-height: 25px;">
                                <li>{{insert.iName}}</li>
                                <li>{{add.factory}}, {{add.address}}</li>
                                <li>{{add.contact}}, {{add.email}}, {{add.mobile}}</li>
                                <li>{{price}}</li>
                                <li>{{count}}</li>
                                <li>{{total}}</li>
                            </ul>
                        </div>
                    </div>
                {{/each}}
                <h4 style="text-align: center;">ORDER TOTAL: ${{data.info.total}}</h4>
            </section>
            <hr />
            <section style="margin-top: 20px;">
                <div style="text-align: center; color: grey;">
                    If you have any questions, contact us <a href="https://tacticalfba.netlify.com/contact"
                        target="_blank">here</a>.
                </div>
            </section>
        </main>
    </body>

</html>